.sidebar {
  background-color: #f8f9fa;
  width: 250px;
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
}
.chat-body {
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  position: absolute;
  padding: 20px;
  right-padding: 20px;
  margin-top: 60px;
  margin-bottom: 80px;
}
.chat-header {
  padding: 20px;
}
.chat-input {
  bottom: 0;
  padding: 20px;
  position: absolute;
  width: 250px;
}
.main {
  background-color: #282c34;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 250px;
  left: 0;
  position: absolute;
  color: #f8f9fa;
}
.wizards-header {
  padding: 40px;
}
.suit-icon {
  position: relative;
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 1px;
}
.main-gameplay {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.game-lobby, .game-lobby-error {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.num-players {
  font-weight: 600;
}
.table {
  border-radius: 50%;
  background-color: #f8f9fa;
  max-height: 80vw;
  max-width: 80vh;
  height: 40vh;
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.player-icon {
  height: 126px;
  width: 126px;
  background-image: url("user_icon.png");
  background-size: cover;
}
.player-name{
  color: #9bc3c9;
  margin-bottom: 0px;
}
.player-info {
  color: #f8f9fa;
  margin-bottom: 10px;
}
.card-container {
  max-height: 106px;
  max-width: 72px;
  position: relative;
}
.card {
  width: 100%;
  height: auto;
}
.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: #343a40;
}
.card-container:hover .card-overlay {
  opacity: 0.5;
  cursor: pointer;
}
.played-card {
  height: 72px;
  width: 48px;
}
.play-action {
  position: absolute;
  bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 20px;
  color: #282c34;
  min-height: 170px;
  max-width: 100%;
}
.cards {
  display: flex;
  justify-content: center;
}
.action-title {
  color: #282c34;
}
.table-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #282c34;
}
.your-turn-text {
  color: #282c34;
}
.right-header {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: right;
}
.username-text {
  color: #9bc3c9;
  display: inline;
}